body {
    background-color: #1b1b1b;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #d4d4d4;
}

hr {
    border: 1px solid #444;
}

a {
    color: #66b3ff;
}

nav {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    color: #66b3ff;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    background-color: #66b3ff;
    color: #111;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.button:hover {
    transform: translateY(-2px);
}

.hero {
    background-color: #222;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.project-card {
    background-color: #222;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
    border: 1px solid #333;
}

.project-card p {
    line-height: 1.6;
}

footer {
    margin-top: 30px;
    padding-bottom: 40px;
}

footer a {
    color: #66b3ff;
}

.project-image {
    height: 250px;
    background: #111;
    border: 2px dashed #333;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    color: #777;
}

.loop-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loop-step {
    background-color: #111;
    border: 1px solid #333;
    padding: 12px 20px;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.loop-arrow {
    color: #66b3ff;
    font-size: 24px;
}
